@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.header{
    height: 80px;
    width: 100%;
    background-color: black;
}

.logo{
    width: 30%;
    height: 100%;
}

.logo a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 2em;
    font-weight: 400;
}

.main-content{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.izquierda, .derecha{
    width: 50%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    display: flex;
    justify-content: center;
}

.izquierda{
    border-right: 2px solid white;
    padding: 20px;
}

.cajaTemperatura{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    background-color: rgba(228, 228, 228, 0.719);
    min-width: 250px;
}

.cajaTempDiv{
    display: flex;
    height: 70%;
}

.numero{
    height: 100%;
    width: 50%;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconos{
    width: 50%;
    height: 100%;
    padding: 40px 20px 10px 30px;
}


.numero h2{
    font-size: 3.5em;
    color: black;
    text-align: left;
    width: 100%;
    display: block;
}

.numero label{
    margin-top: 20px;
    font-size: 1.7;
}

.info{
    height: 30%;
    width: 100%;
    border: 2px solid white;
    padding: 10px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h2{
    width: 100%;
    color: rgb(150, 150, 150);
    margin-bottom: 10px;
}

.selectores{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectores select{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 1.2em;
}


.footer{
    height: 50px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    color: rgb(150, 150, 150);
    line-height: 50px;
    padding-left: 20px;
}

@media screen and (min-width: 300px){

    body{
        width: 360px;
        height: auto;
    }

    .header{
        width: 100%;
    }
    
    .logo{
        width: 20%;
    }
    
    .logo a{
        padding-left: 30px;
    }
    
    .main-content{
        flex-direction: column-reverse;
    }
    
    .izquierda, .derecha{
        width: 100%;
        padding: 20px;
    }
    
    .izquierda{
        border-right: none;
    }

    .numero h2{
        font-size: 2.4em;
    }

    .derecha{
        height: auto;
    }

    .selectores label{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .selectores select{
        display: block;
        width: 100%;
        height: 50px;
        font-size: 1.2em;
    }
    
    
    .footer{
        height: 50px;
        width: 100%;
        background-color: rgb(245, 245, 245);
        color: rgb(150, 150, 150);
        line-height: 50px;
        padding-left: 20px;
    }
    

}