@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.cloudy{
    background-image: url(/imagesWeather/cloudyMobile.jpg);
    background-size: cover;
}

.clear{
    background-image: url('https://github.com/queondatodotranqui/WeatherApp/blob/main/imagesWeather/clearMobile.jpg');
    background-size: cover;
}

.rainy{
    background-image: url(/imagesWeather/rainyMobile.jpg);
    background-size: cover;
}

body{
    width: 100%;
    height: auto;
}

.header{
    height: 80px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.281);
}

.logo{
    width: auto;
    height: 100%;
}

.logo a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-left: 30px;
    text-align: start;
    line-height: 80px;
    color: black;
    font-size: 2em;
    font-weight: 400;
}

.main-content{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-direction: column-reverse;
}

.izquierda, .derecha{
    height: 600px;
    background-color: rgba(255, 255, 255, 0.192);
    display: flex;
    justify-content: center;        
    width: 100%;
    padding: 20px;
}

.derecha{
    height: auto;
}

.cajaTemperatura{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    min-width: 250px;
}

.cajaTempDiv{
    display: flex;
    height: 70%;
    background-color: rgba(228, 228, 228, 0.336);
}

.numero{
    height: 100%;
    width: 50%;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconos{
    width: 50%;
    height: 100%;
    padding: 40px 20px 10px 30px;
}


.numero h2{
    font-size: 2.4em;
    color: black;
    text-align: left;
    width: 100%;
    display: block;
}

.numero label{
    margin-top: 20px;
    font-size: 1.7;
}

.info{
    height: 30%;
    width: 100%;
    margin-top: 4px;
    padding: 10px 20px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(228, 228, 228, 0.336);
}

.info h2{
    width: 100%;
    color: rgb(88, 88, 88);
    margin-bottom: 10px;
}

.selectores{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selectores select{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    background-color: rgba(24, 24, 24, 0.144);
    color: black;
    transition: all 0.4s;
    border-radius: 8px;
}

.selectores select:focus{
    outline: none;
}

.selectores label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}

.noMostrar{
    display: none;
}

.footer{
    height: 50px;
    width: 100%;
    color: rgb(56, 56, 56);
    line-height: 50px;
    padding-left: 20px;
}

@media all and (min-width:600px){

    .cloudy{
        background-image: url(/imagesWeather/cloudyDesktop.jpg);
    }
    
    .clear{
        background-image: url(/imagesWeather/clearDesktop.jpg);
    }
    
    .rainy{
        background-image: url(/imagesWeather/rainyDesktop.jpg);
    }

    .selectores select{
        color: black;
        background-color: rgba(255, 255, 255, 0.445);
    }

    .selectores label{
        background-color: rgba(255, 255, 255, 0.199);
    }
}